html, body {
    padding: 0;
    margin: 0;
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
    background-color: unset;
    color: white;
    image-rendering: pixelated;
}

.game-node-anchor {
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
}

.game-node {
    padding: 5px;
    margin: 5px;

    /* set width to wrap content */
    width: auto;
}

#more {
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around;
    align-items: center;
    align-content: center; */
}

#dialog {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
}

#dialog>* {
    background-color: unset;
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

#dialog-gameplay-container>img {
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
}
