* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    image-rendering: pixelated;
}

.game-node {
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
    padding: 5px;
    margin: 5px;

    /* set width to wrap content */
    width: auto;
}

#more {
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around;
    align-items: center;
    align-content: center; */
}
